*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-blue: rgba(30, 11, 127, 1);
  --main-red: rgba(239, 35, 46, 1);
  --main-white: rgba(251, 245, 243, 1);
  --main-green: rgba(23, 190, 187, 1);
  --main-yellow: rgba(255, 184, 0, 1);

  --headline-font: 'Monoton', cursive;
  --text-font: 'Gochi Hand', cursive;
  --sub-text-font:'Patrick Hand', cursive;
}


a{
  text-decoration: none;
}

.one{
  background-color: black;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 250px;
}


.main-text{
  color: white;
}

.main-sub-text{
  color: white;
}

.main-menu li{
  display: inline-block;
  padding-left: 10%;
}

.main-menu a{
  color: white;
}

.socials li{
  display: inline-block;
  padding-left: 2%;
}


.socials a{
  color: white;
}


@media only screen and (max-width: 756px) {
  

}
