*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --main-blue: rgba(30, 11, 127, 1);
  --main-red: rgba(239, 35, 46, 1);
  --main-white: rgba(251, 245, 243, 1);
  --main-green: rgba(23, 190, 187, 1);
  --main-yellow: rgba(255, 184, 0, 1);

  --headline-font: 'Monoton', cursive;
  --text-font:'Delius';
}


a{
  text-decoration: none;
}

li{
  list-style: none;
}

.one{
  /* background: url("images/man.jpg") center no-repeat; */
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 0 2vw;
}

.one > div{
  padding: 2vh 0;
}

.main-text{
  color: white;
  font-family: var(--headline-font);
  font-size: 4rem;
}

.main-sub-text{
  font-family: var(--text-font);
  font-size: 1.5rem;
  color: white;
}



.main-menu ul
{ 
display: flex;
flex-direction: row;
justify-content: space-between;
}


.main-menu li{
  list-style: none;
  margin: 0 3rem;
  border: solid;
  width: 120px;
  border-color: white;
  font-size: 1.5rem;
  text-align: center;
}

.main-menu li:hover{
  border: dashed;
  border-color: white ;
  transition: 0.5s;
}



.main-menu a{
  color: white;
  font-family: var(--text-font);
}


.socials ul
{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.socials li{
  margin: 0 1rem;
}



.socials a{
  font-size: 2rem;
  color: white;
}


@media only screen and (max-width: 756px) {
  



  .main-text{
    text-align: center;
    font-size: 3.5rem;
  }

  .main-sub-text{
    font-size: 0.8rem;
  }

  .main-menu ul
  {
  flex-direction: column;
  }

  .main-menu li{
    margin: 0.7rem 0;
  }

}
