* ,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}



/*  Navbar Start */


.sidebar{
    position: fixed;
    background-color: greenyellow;
    top: 0;
    left: 0; 
    width: 8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;
    align-items: center;
}

.nav-list{
    list-style: none;
}

.nav-link{
    padding: 10px 0;
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}



/* Navbar End */

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
}
.one {
    background: url("images/data.jpg");
    background-size: cover;
}
.two {
  background: url("images/Cosmonaut.png") no-repeat center;
  background-size: cover;
}
.three {
    background: url("images/jp.jpg") no-repeat center;
    background-size: cover;
}
.four {
    background: url("images/pink.jpg") no-repeat center;
    background-size: cover;
}

.wrapper {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}


.outer-wrapper {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.outer-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


/* Mobile View */

.mobile-view{
    display: none;
}

@media only screen and (max-width: 800px) {

    .sidebar{
        width: 4rem;
    }

    .nav-link{
        font-size: 2rem;
    }
}
